@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carousel.css");
@import url("./styles/card.css");
@import url("./styles/topics.css");
@import url("./styles/newsletter.css");

/* RESET */
* {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg: #ebecee;
  --primary: #002f52;
  --primary-gradient: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );
  --secondary: #eb9b00;
  --white: #ffffff;
  --black-font-fill: rgba(0, 0, 0, 0.85);
  --shadow: rgba(0, 0, 0, 0.25);

  --font-default: "Poppins", sans-serif;
}

/* GLOBAL */
body {
  background-color: var(--bg);
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section {
  margin-bottom: 1.5rem;
}

.section__title {
  padding-block: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white);
  color: var(--secondary);
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

.input {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 1.5rem;
  padding: 0.625rem 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.675rem;
}

.input input {
  width: 100%;
  max-width: 214px;
  background: transparent;
  color: var(--white);
  font-family: var(--font-default);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
}

.input input::placeholder {
  color: var(--white);
  font-family: var(--font-default);
  font-weight: 400;
}

.input::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-position: center;
  background-size: cover;
}

.input--light {
  border-color: var(--primary-gradient);
}

.input--light input {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.input--light input::placeholder {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
