@import url("./styles/header.css");

/* RESET */
* {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg: #ebecee;
  --secondary: #eb9b00;
  --white: #ffffff;
  --font-default: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.25);
}

/* GLOBAL */
body {
  background-color: var(--bg);
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
}
