@import url("./styles/header.css");
@import url("./styles/banner.css");

/* RESET */
* {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg: #ebecee;
  --secondary: #eb9b00;
  --white: #ffffff;
  --font-default: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.25);
  --primary-gradient: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );
}

/* GLOBAL */
body {
  background-color: var(--bg);
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
