.banner {
  padding: 2rem 1.5rem;
  background: var(--primary-gradient);
  color: var(--white);
  text-align: center;
}

.banner__heading {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.banner__input {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 1.5rem;
  padding: 0.625rem 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.675rem;
}

.banner__input input {
  width: 100%;
  max-width: 214px;
  background: transparent;
  color: var(--white);
  font-family: var(--font-default);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
}

.banner__input input::placeholder {
  color: var(--white);
  font-family: var(--font-default);
  font-weight: 400;
}

.banner__input::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-image: url("../images/icons/search.svg");
  background-position: center;
  background-size: cover;
}
