.section--banner {
  padding: 2rem 1.5rem;
  background: var(--primary-gradient);
  color: var(--white);
  text-align: center;
}

.banner__heading {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.section--banner > .input::before {
  background-image: url("../images/icons/search.svg");
}
