.carousel {
  margin-bottom: 1.25rem;
}

.swiper-pagination {
  position: initial;
  margin-bottom: 1rem;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media screen and (min-width: 1024px) {
  .carousel {
    margin-bottom: 4rem;
  }

  .swiper {
    max-width: 800px;
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
}
